* {
    padding: 0;
    margin: 0;
}
header{
    background-color: #181818;
    padding-top: 24px;
    padding-bottom: 24px;
}
header .container{
    max-width: 1200px;
    margin: auto;
    padding-left: 32px;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
header nav ul li{
    margin-left: 32px;
}
header nav ul li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    Color: #FFFFFF;
}
header nav ul li:first-of-type{
    margin-right: 24px;
}
header nav ul li:first-of-type a{
    font-size: 13px;
}
header nav ul li:last-of-type{
    margin-left: 31px;
}
header nav ul li:last-of-type a{
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    font-size: 16px;
    color: black;
}
/* main banner */

.main_banner{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: calc(100vh - 83px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
}
.main_banner article{
    max-width: 580px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.main_banner article h3{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.main_banner article h1{
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.main_banner article p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
/* sunset*/

.sunset{
    background-image: url("../images/IMAGE (1).jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 62px;
    box-sizing: border-box;
}
.sunset article{
    max-width: 298px;
}
.sunset article h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sunset article p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

/*leaves*/

.leaves{
    background-image: url("../images/IMAGE (2).jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 87px;
    box-sizing: border-box;
}
.leaves article{
    max-width: 273px;
}
.leaves article h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.leaves article p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
/*mountains*/

.mountains{
    background-image: url("../images/IMAGE (3).jpg");
    background-size: cover;
    height: calc(100vh - 83px);
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding-right: 119px;
    padding-bottom: 250px;
    box-sizing: border-box;
}
.mountains article{
    max-width: 254px;
}
.mountains article h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.mountains article p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

/*black*/
.black{
    background-color:  #000000;
}
.black-container {
    width: 100%;
    max-width: 1200px;
    padding-left: 32px;
    padding-right: 32px;
    margin: auto;
}
.features-container {
    padding-top: 120px;
    padding-bottom: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-family: 'Poppins', sans-serif;
    max-width: 571px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.features-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 22px;
}
.touch {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: #FFFFFF;
    padding: 5px 10px 5px 4px;
    border-radius: 14px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.circle::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: black;
    margin-right: 6px;
}
<<<<<<< HEAD
/*What we do.*/
.what_we_do{
    background-color: #000000;
    padding-top: 113px;
    padding-bottom: 84px;
}
.what_we_do .container{
    max-width: 1168px;
    margin: auto;
}
.what_we_do h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}
/*cards*/
.what_we_do .cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.what_we_do .cards article{
    max-width: 576px;
    margin-bottom: 16px;
    position: relative;
}
.what_we_do .description{
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
}
.what_we_do .cards article img{
    display: block;
    width: 100%;
}
.what_we_do .description h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: left;
}
.what_we_do .description p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 20px;
}
.what_we_do .description a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background-color: #FFFFFF;
    padding: 5px 10px 5px 4px;
    border-radius: 14px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.what_we_do .description a::before {
    content: " ";
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: black;
    margin-right: 6px;
}
/*svg*/
.svg-bottom {
    align-items: center;
    display: flex;
    margin-left: auto;
}
.svg-bottom-item {
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.svg-bottom-item-img {
    margin-right: 10px;
}
.svg-bottom-item-text {
    font-size: 20px;
    line-height: 20px;
    color: white;
}
/*post*/
.clients-section {
    background-color: #000000;;
}
.clients-container {
    padding-top: 11.3rem;
    padding-bottom: 14rem;
}
.clients-inner {
    font-size: 4rem;
    line-height: 4.2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: white;
}
.clients-text {
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    line-height: 3rem;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 8.2rem;
}
.clients-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: -10.9rem;
}
.clients-list-item {
    margin-left: 10.9rem;
    cursor: pointer;
}
.clients-inner{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.clients-text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
}
=======




>>>>>>> origin/main





